.iconbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	list-style: none;
	gap: 1em;
	padding: 10px;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden auto;

	li {
		display: inline-block;
		text-align: center;
		flex-grow: 1;
		flex-basis: 0;
		text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.25);

		.icon {
			margin: 0 auto;
			display: block;
			border-radius: 0.25rem;
			width: 50px;
			height: 50px;
			font-size: 50px;
			text-align: center;
			object-fit: cover;
			filter: drop-shadow(2px 2px 2px rgba(15, 15, 15, 0.3));
		}

		.title {
			display: block;
			margin: 10px 0 0 0;
			overflow-wrap: break-word;

			@include line-clamp(2);
		}

		a {
			display: inline-block;
			color: #eee;
			transition: transform 200ms ease;
			width: 90px;
		}

		&:not(.section) a:hover {
			color: white;
			text-decoration: none;
			transform: scale(1.05, 1.05);
			z-index: 2;

			img {
				filter: brightness(1.05), drop-shadow(3px 3px 3px rgba(15, 15, 15, 0.2));
			}
		}

		&.section {
			display: block;
			padding: 0;
			font-size: 0.9rem;
			line-height: 1.5;
			color: white;
			opacity: 75.9;
			flex: 0 0 100%;

			&:first-child {
				padding-top: 0.8rem;
			}
		}
	}
}
