.modal-bg {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.05s ease-in-out;
}

.modal {
	position: absolute;
	min-width: 400px;
	max-width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(15, 15, 15, 0.95);
	border: 1px solid rgba(30, 30, 30, 1);
	overflow: hidden;

	.modal-header {
		padding: 0.8rem;
		margin: 0;
	}

	nav {
		display: inline-block;

		a {
			display: block;
			padding: 0.4rem 1rem;
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
			transition: color 0.2s ease-in-out,
					background-color 0.2s ease-in-out;
			cursor: pointer;

			&:hover {
				color: white;
				background: rgba(255, 255, 255, 0.1);
				text-decoration: none;
			}

			&.active {
				background: rgba(255, 255, 255, 0.1);
			}

			&.active:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}

	.modal-body {
		padding: 0 0.8rem 0.8rem 0.8rem;
	}

	.modal-body, & > ul {
		max-height: 500px;
		overflow: hidden auto;
	}

	.modal-flex {
		display: flex;
		flex-direction: row;
		width: 740px;
		height: 500px;

		.modal-body {
			flex: 1;
			max-height: none;
		}
	}

	.modal-close {
		padding: 0.2rem 0.65rem;
		margin: 0;
		border-radius: 0;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			background-color: rgba(255, 255, 255, 0.1);
		}

		position: absolute;
		top: 0;
		right: 0;
	}
}

@supports (backdrop-filter: blur(12px)) {
	.modal-bg {
		backdrop-filter: blur(12px);
		background: rgba(0, 0, 0, 0.65);

		.panel {
			backdrop-filter: none;
		}
	}
}

.modal-bg-lighter {
	background: rgba(0, 0, 0, 0.4);
}
