<p id="summary">
	Einer einrichtbaren „Neuer Tab“ Seite, mit Widgets und schönen Hintergründen.
</p>


<h2>Features</h2>
<ul>
	<li>
		<b>leistungsfähiges Widgets-System</b>: Du kannst sie hinzufügen, verschieben, skalieren, und konfigurieren Sie Widgets in einem Raster mit einfachen Bedienelementen.
	</li>
	<li>
		<b>Wunderschöne Hintergründe</b>: sehen Sie alle 15 Minuten einen zufälligen Hintergrund, der von Unsplash bereitgestellt wird. Sie können auch eine Volltonfarbe, benutzerdefinierte Sammlungen oder ein benutzerdefiniertes Hintergrundbild auswählen.
	</li>
	<li>
		<b>Personalisierbar</b>: ändere den Hintergrund, das Thema, und konfiguriere jedes einzelne Widget selbständig.
	</li>
	<li>
		<b>Multi-lingual</b>: supports multiple languages. Translations are <a href="https://renewedtab.rubenwardy.com/translations/">community-maintained</a>,
		allowing users to contribute support for their language.
	</li>
</ul>


<h2>Widgets</h2>
<ul>
	<li><b>RSS and Atom Nachrichten</b>: Kann für das lesen von Nachrichten oder das folgen von Webseiten genutzt werden.</li>
	<li><b>Wetter</b></li>
	<li><b>Erledigungsliste</b>: Gehe deinen noch nicht erledigten Aufgaben nach.</li>
	<li><b>Schnellverknüpfungen</b>: anzeigen von Links, optional mit einem Symbol oder einer Überschrift.</li>
	<li><b>Beliebteste Webseiten</b>: Zeigt deine kürzlich genutzten Webseiten an.</li>
	<li><b>Tägliches Ziel</b>: Legen sie ein tägliches Ziel fest.</li>
	<li><b>Bookmarks</b>: shows bookmarks from the bookmark toolbar.</li>
	<li><b>Greeting</b>: be greeted based on the time of day.</li>
	<li><b>Quotes</b>: shows a random quote, with categories.</li>
	<li><b>Clock</b>: show the current time, choose between 12 and 24 hours.</li>
	<li><b>Notes</b>: jot down notes in a freeform text area.</li>
	<li><b>Age</b>: shows your current age with way too much precision.</li>
	<li><b>Search</b>: a search bar, with support for changing the search engine.</li>
	<li><b>Web Comics</b>: show the most recent panel from a web comic.</li>
	<li><b>Upcoming Space Flights</b></li>
	<li>and more: buttons, images, and iframes.</li>
</ul>


<h2>Privacy Orientated</h2>
<p>
We design with privacy in mind! We require only minimal permissions: to store data on your computer, and see the default search engine. Other permissions are optional and are requested at runtime, when needed. All your data is stored in your browser, not on our servers.
</p>
<p>
For more information, see the <a href="https://addons.mozilla.org/en-US/firefox/addon/renewed-tab/privacy/">Privacy Policy</a>.
</p>


<h2>Support</h2>
<p>
Need help? Found a bug, or have a request? Check out the <a href="https://renewedtab.rubenwardy.com/help/">Help and FAQ</a> page to see common questions and to get in contact.
</p>
<p>
In order to get the blurred appearance seen in the screenshots, you'll need to enable the experimental webrender feature. See the <a href="https://renewedtab.rubenwardy.com/help/#how-do-i-enable-the-blur-on-firefox">help page article</a>.
</p>
