<p id="summary">
	A customisable New Tab page, with widgets and beautiful backgrounds
</p>


<h2>Features</h2>
<ul>
	<li>
		<b>Powerful Widgets System</b>: you can add, move, resize, and configure widgets on a grid using intuitive controls.
	</li>
	<li>
		<b>Beautiful Backgrounds</b>: see a random curated background every 15 minutes, powered by Unsplash. You can also choose a solid color, custom collections from Unsplash, or a custom background image.
	</li>
	<li>
		<b>Customisable</b>: change the background, the theme, and configure each widget independently.
	</li>
	<li>
		<b>Multi-lingual</b>: supports multiple languages. Translations are <a href="https://renewedtab.rubenwardy.com/translations/">community-maintained</a>,
		allowing users to contribute support for their language.
	</li>
</ul>


<h2>Widgets</h2>
<ul>
	<li><b>RSS and Atom feeds</b>: can be used to see the news or follow a website.</li>
	<li><b>Weather</b></li>
	<li><b>To do list</b>: track things you need to do.</li>
	<li><b>Quick Links</b>: show links, with optional icons and subheadings.</li>
	<li><b>Top Sites</b>: shows your most frequent websites.</li>
	<li><b>Daily Goals</b>: enter a daily goal.</li>
	<li><b>Bookmarks</b>: shows bookmarks from the bookmark toolbar.</li>
	<li><b>Greeting</b>: be greeted based on the time of day.</li>
	<li><b>Quotes</b>: shows a random quote, with categories.</li>
	<li><b>Clock</b>: show the current time, choose between 12 and 24 hours.</li>
	<li><b>Notes</b>: jot down notes in a freeform text area.</li>
	<li><b>Age</b>: shows your current age with way too much precision.</li>
	<li><b>Search</b>: a search bar, with support for changing the search engine.</li>
	<li><b>Web Comics</b>: show the most recent panel from a web comic.</li>
	<li><b>Upcoming Space Flights</b></li>
	<li>and more: buttons, images, and iframes.</li>
</ul>


<h2>Privacy Orientated</h2>
<p>
We design with privacy in mind! We require only minimal permissions: to store data on your computer, and see the default search engine. Other permissions are optional and are requested at runtime, when needed. All your data is stored in your browser, not on our servers.
</p>
<p>
For more information, see the <a href="https://addons.mozilla.org/en-US/firefox/addon/renewed-tab/privacy/">Privacy Policy</a>.
</p>


<h2>Support</h2>
<p>
Need help? Found a bug, or have a request? Check out the <a href="https://renewedtab.rubenwardy.com/help/">Help and FAQ</a> page to see common questions and to get in contact.
</p>
<p>
In order to get the blurred appearance seen in the screenshots, you'll need to enable the experimental webrender feature. See the <a href="https://renewedtab.rubenwardy.com/help/#how-do-i-enable-the-blur-on-firefox">help page article</a>.
</p>
